/* use "./node-modules/.bin/grunt watch" to start the grunt watcher */

:root {
    --button-fade-time: 600ms;
    --page-transition-time: 300ms;
    --main-page-down: 0vh;
}

html {
    width: 200vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    border: 0px;
    border-collapse: collapse;
    font-family: 'Raleway', sans-serif;
}

body {
    overflow-x: hidden;
    overflow-y: hidden;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    margin: 0;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.enableScroll {
    overflow-y: scroll;
}

.moveDownLeft {
    transform: translate(-100vw, var(--main-page-down));
    -moz-transform: translate(-100vw, var(--main-page-down));
    -webkit-transform: translate(-100vw, var(--main-page-down));
}

.moveDown {
    transform: translateY(var(--main-page-down));
    -moz-transform: translateY(var(--main-page-down));
    -webkit-transform: translateY(var(--main-page-down));
}

.moveLeft {
    transform: translateX(-100vw);
    -moz-transform: translateX(-100vw);
    -webkit-transform: translateX(-100vw);
}

.hasTransition {
    transition: transform var(--page-transition-time) linear;
    -webkit-transition: -webkit-transform var(--page-transition-time) linear;
}

.makeVisible {
    visibility: visible;
    opacity: 1;
}

.makeInvisible {
    visibility: hidden;
}

.remove {
    display: none;
}

.fadeIn {
    opacity: 1;
}

.fadeOut {
    opacity: 0;
}

#homePage {
    position: relative;
    background-image: url("assets/backgrounds/toUse3.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
}

.menuContainer {
    position: relative;
    width: 100%;
    height: 9%;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(146, 92, 100, 0.2);
    z-index: 1;
}

.menuContainer:hover {
    transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
}

#homePage .menuContainer {
    position: relative;
}

.menuImageContainer {
    height: 90%;
    width: 19vh;
    margin-left: 1vw;
    margin-right: auto;
}

.menuImageLink {
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.menuImage {
    height: 100%;
    width: 100%;
}

.menuLinkContainer {
    margin-left: 1.5vh;
    height: 100%;
    width: auto;
}

.fbLinkContainer {
    margin-right: 3vh;
    margin-left: 1.5vh;
    height: 100%;
    width: 4vh;
}

.link {
    top: 31%;
    position: relative;
    font-size: 2.8vh;
    color: black;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
}

.whiteLink {
    top: 31%;
    position: relative;
    font-size: 2.8vh;
    color: white;
    text-decoration: none;
    opacity: 0.7;
    cursor: pointer;
}

.menuPlaceholder {
    position: relative;
    width: 100vw;
    height: 9vh;
    opacity: 0;
    display: none;
}

.menuContResp {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 9vh;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: end;
    justify-content: flex-end;
    -ms-flex-align: center;
    align-items: center;
    background-color: rgba(146, 92, 100, 0.2);
    z-index: 1;
    display: none;
}

.menuContResp:hover {
    transition: background-color 0.2s linear;
    -moz-transition: background-color 0.2s linear;
    -webkit-transition: background-color 0.2s linear;
    /* background-color: #671e33; */
}

.menuIcon {
    margin-right: 2%;
    height: 80%;
    width: 6vh;
    opacity: 0.8;
    cursor: pointer;
}

.dropdown {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: start;
    justify-content: flex-start;
    float: left;
    left: 1%;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #094770b4;
    min-width: 30vh;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 0%;
    top: 100%;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    font-size: 4vh;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.show {
    display: block;
}

.link:hover,
whiteLink:hover {
    opacity: 1;
}

.link:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: black;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.whiteLink:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: 0;
    background-color: white;
    visibility: hidden;
    transform: scaleX(0);
    transition: all 0.3s ease-in-out 0s;
}

.link:hover:before,
.whiteLink:hover:before {
    visibility: visible;
    transform: scaleX(1);
}

.fbLink {
    top: 20%;
    position: relative;
    height: 60%;
    width: 100%;
    opacity: 0.55;
}

.fbLink:hover {
    opacity: 1;
}

#mottoContainer {
    height: 78%;
    position: relative;
    font-size: 14vh;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: end;
    align-items: flex-end;
}

#motto1 {
    position: relative;
    padding-top: 32vh;
    margin-right: 5%;
    right: 0%;
    width: 80%;
    height: 10vh;
    color: rgb(9, 71, 112);
    font-size: 75%;
    text-align: right;
}

#motto2 {
    position: relative;
    margin-right: 5%;
    width: 100%;
    right: 0%;
    color: #671e33;
    font-weight: bold;
    font-size: 80%;
    text-align: right;
}

#see {
    right: 0%;
    margin-top: 5px;
    position: relative;
    margin-right: 5%;
    width: 47vh;
    background-color: #63001a;
    opacity: 0.8;
    border-radius: 20px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    transition: color var(--button-fade-time);
    transition: background-color var(--button-fade-time) linear;
    -webkit-transition: background-color var(--button-fade-time) linear;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
}

#seeText {
    color: #ffffff;
    font-size: 25%;
    text-decoration: none;
    cursor: pointer;
}

#see:hover {
    background-color: rgba(0, 0, 0, 0);
    transition: color var(--button-fade-time);
    transition: background-color var(--button-fade-time) linear;
    -webkit-transition: background-color var(--button-fade-time) linear;
    -moz-transition: background-color var(--button-fade-time) linear;
    box-shadow: 0px 0px 0px 2px #63001a;
}

#see:hover>#seeText {
    color: #63001a;
}

#bottomContainer {
    width: 100%;
    height: 14vh;
    position: relative;
    background-color: rgb(255, 255, 255, 0.5);
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

#homePage .menuImage {
    display: none;
}

.teamLogo {
    width: 25%;
    height: 100%;
    position: relative;
    margin-left: 2vh;
}

.teamLogo img {
    height: 80%;
    margin-top: 2%;
}

.upbLogo {
    height: 100%;
}

#acsLogo {
    height: 80%;
}

#campusLogo {
    height: 80%;
}

#upbLogos {
    top: 10%;
    width: 80vh;
    height: 90%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    margin-left: auto;
    margin-right: 1%;
    opacity: 0.5;
    filter: sepia(100%) hue-rotate(190deg) saturate(500%);
}

#upbLink,
#energLink {
    margin-right: 2%;
    position: relative;
    height: 80%;
    width: calc(100% / 4);
}

#acsLink,
#campusLink {
    position: relative;
    margin-right: 2%;
    width: calc(100% / 2);
}

#aboutPage {
    position: relative;
    width: 100vw;
    height: 100vh;
    background: #ffffff;
}

#aboutGallery {
    position: fixed;
    z-index: 3;
    width: 94vw;
    height: 33vh;
    top: 33vh;
    left: 3vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    transition: opacity 0.4s ease-in;
}

#aboutGalleryLeftArrow,
#aboutGalleryRightArrow {
    position: relative;
    width: 20vw;
    height: 15vh;
    font-size: 10vh;
    color: rgb(80, 77, 77);
}

#aboutGalleryLeftArrow {
    padding-right: 1vw;
}

#aboutGalleryRightArrow {
    padding-left: 1vw;
}

#aboutGalleryLeftArrow:hover,
#aboutGalleryRightArrow:hover {
    cursor: pointer;
}

#aboutGalleryLeftArrow img,
#aboutGalleryRightArrow img {
    height: 100%;
    width: 100%;
}

#aboutGallerySlideshow {
    position: relative;
    width: 81vw;
    height: 62vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding-left: 1.8vw;
    padding-right: 1.8vw;
}

#aboutGallerySlideshowBackground {
    position: fixed;
    margin-left: 4.1vw;
    width: 80vw;
    height: 62vh;
    left: 5vw;
    padding-right: 1.8vw;
    background-color: #ffffff;
}

.aboutGalleryPhoto {
    position: relative;
    width: 44vw;
    height: 61vh;
}

.aboutGalleryPhoto img {
    height: 100%;
    width: 100%;
}

#aboutGalleryBackground {
    position: fixed;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    transition: opacity 0.4s ease-in;
}

.aboutPhoto {
    width: 100%;
    opacity: 0.5;
    top: 0;
    position: absolute;
    height: 18vh;
}

.aboutPageTitle {
    position: relative;
    height: 9vh;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
}

.aboutTitleText {
    opacity: 0.8;
    position: relative;
    padding-left: 10vw;
    font-size: 4vh;
}

.aboutBar {
    position: relative;
    font-size: 12.9vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    opacity: 0.8;
    color: #671e33;
}

#aboutLeft {
    width: 33vw;
    height: 82vh;
    color: #111;
    font-size: 2.6vh;
    text-indent: 2vw;
    opacity: 0.9;
    text-align: left;
    float: left;
    background-clip: content-box;
    padding-left: 10vw;
}

#aboutRight {
    width: 33vw;
    height: 82vh;
    color: #111;
    text-align: left;
    font-size: 2.6vh;
    text-indent: 2vh;
    opacity: 0.9;
    float: left;
    padding-left: 10vw;
    background-clip: content-box;
}

.into {
    color: white;
    background: #671e33;
    opacity: 0.9;
}

.title1 {
    text-indent: 0%;
    font-size: 4.5vh;
    color: #63001a;
}

#aboutDomains {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: start;
    justify-content: flex-start;
    height: 16vh;
    width: auto;
}

.aboutDomain {
    height: 16vh;
    margin-right: 2vh;
    width: calc(100% / 6);
}

.aboutDomain:hover {
    cursor: pointer;
}

#pcbDomain {
    margin-top: 1vh;
}

#medicalDomain {
    height: 20vh;
}

#iotDomain {
    margin-top: 1vh;
}

.title2 {
    text-indent: 0%;
    font-size: 5vh;
    padding-top: 0%;
    color: #63001a;
}

#intoPhoto {
    width: 100%;
    height: auto;
    padding-top: 5vh;
}

#eventsPage {
    background-image: url("assets/backgrounds/events-bg2.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    height: 100vh;
    width: 100vw;
}

#eventPhoto {
    width: 90%;
    padding-left: 5%;
    top: 10%;
    height: auto;
    position: absolute;
}

#eventWhite {
    position: absolute;
    height: 58%;
    width: 90%;
    left: 5%;
    top: 40%;
    background-color: white;
}

#eventsDescription {
    position: relative;
    height: 20%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
}

#eventsTitle {
    position: relative;
    height: 33vh;
    top: 5vh;
    font-size: 9vh;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: left;
    margin-right: 30vh;
    margin-left: auto;
    width: auto;
    opacity: 0.8;
}

#eventsTitle span {
    position: relative;
    width: 100%;
    opacity: 0.8;
    z-index: 2;
    color: black;
}

#events {
    top: 15vh;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-line-pack: start;
    align-content: flex-start;
    width: 100vw;
    height: 30vh;
    padding-top: 12vh;
    -ms-flex-direction: row;
    flex-direction: row;
}

#prevEvents {
    margin-left: 1vw;
    font-size: 10vh;
    position: relative;
    top: 7vh;
    color: rgba(128, 128, 128, 0.774);
}

#prevEvents:hover {
    cursor: pointer;
}

#eventsContainer {
    position: relative;
    width: 91vw;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.eventContainer {
    position: relative;
    width: 40vw;
    height: 27vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    box-shadow: 10px 10px rgba(68, 68, 68, 0.356);
    border-radius: 25px;
    -ms-flex-direction: row;
    flex-direction: row;
}

.visibleEvent {
    display: -ms-flexbox;
    display: flex;
}

.visibleProject {
    display: block;
}

.visibleArticle {
    display: block;
}

.visibleMember {
    display: block;
}

.eventText {
    position: relative;
    height: 30%;
    width: 60%;
    left: 3%;
    padding-top: 3%;
}

.eventTitle {
    position: relative;
    margin-top: 1vh;
    margin-bottom: 1vh;
    font-size: 3.1vh;
    font-weight: bold;
    text-align: start;
}

.eventContent {
    position: relative;
    height: 100%;
    padding-top: 0%;
    text-align: start;
}

.eventPhoto {
    position: relative;
    height: 85%;
    width: 32%;
    left: 4%;
    top: 8%;
    background-image: url("assets/dog.jpeg");
    background-size: cover;
    background-position: center;
    border-radius: 50%;
}

#nextEvents {
    font-size: 10vh;
    position: relative;
    top: 7vh;
    color: rgba(128, 128, 128, 0.774);
}

#nextEvents:hover {
    cursor: pointer;
}

#projectsPage {
    background-image: url("assets/backgrounds/projects-bg.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

#projectsPage .menuContainer {
    background-color: rgba(159, 215, 255, 0.151);
}

#projectsContent {
    position: relative;
    height: 91vh;
    width: 100vw;
    top: 0%;
    padding-right: 20vw;
}

#projectsFirstHalf {
    position: relative;
    padding-left: 10vw;
    width: 100vw;
    height: 38vh;
}

#projectsTexts {
    width: 65vw;
    height: 10vh;
    padding-top: 2vh;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
    float: left;
    background-clip: content-box;
}

#projectsTitle {
    height: 12vh;
    width: 8vw;
    position: relative;
    left: 1vw;
    opacity: 0.8;
    font-size: 4vh;
    margin-right: 1.5vw;
    margin-top: 1vh;
}

#projectsTitle1 {
    margin-left: auto;
    width: 5vw;
}

#projectsTitle2 {
    width: 7vw;
}

#projectsSlash {
    position: relative;
    height: 12vh;
    width: 4vw;
    font-size: 12.9vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    opacity: 0.8;
    color: #671e33;
    top: -1vh;
}

#projectsDesc {
    width: 50vw;
    height: 10vh;
    position: relative;
    top: 1vh;
    font-size: 3vh;
    opacity: 0.8;
}

#projectsImage {
    width: auto;
    height: 37vh;
    position: relative;
    top: 1vh;
}

#projectsMainText {
    height: auto;
    width: 80vw;
    position: relative;
    left: 1vw;
    font-size: 3vh;
    opacity: 0.7;
}

#prevProjects {
    font-size: 12vh;
    position: relative;
    top: 10vh;
    color: rgba(128, 128, 128, 0.774);
}

#prevProjects:hover {
    cursor: pointer;
}

#projects {
    top: 5vh;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    width: 100vw;
    height: 67vh;
}

.projectBox {
    height: 40vh;
    width: 20vw;
    background-color: rgb(241, 241, 241);
    padding: 0.5vw;
    outline: 1px solid rgb(182, 182, 182);
    outline-offset: 0.7vh;
}

.imageBox {
    position: relative;
    height: 43%;
    width: 43%;
    background-image: url("assets/dog.jpeg");
    background-size: cover;
    background-position: center;
    z-index: 2;
    border-radius: 100%;
    margin-left: auto;
    margin-right: auto;
}

.prTextBox {
    position: relative;
    height: 100%;
    width: 100%;
}

.prTitleBox {
    margin-bottom: 1vh;
    font-size: 3.1vh;
    font-weight: bold;
    text-align: center;
    opacity: 0.8;
}

.prContentBox {
    position: relative;
    height: 6vh;
    text-align: center;
    font-size: 2vh;
}

#nextProjects {
    font-size: 12vh;
    position: relative;
    top: 10vh;
    color: rgba(128, 128, 128, 0.774);
}

#nextProjects:hover {
    cursor: pointer;
}

#projects .fbLogo {
    position: absolute;
    width: 3vw;
    opacity: 0.7;
    height: auto;
    top: 36vh;
    margin-left: 7vw;
}

.linkLogo {
    position: absolute;
    width: 3.3vw;
    opacity: 0.7;
    top: 35.8vh;
    height: auto;
    margin-left: 10vw;
}

#researchPage {
    background-image: url("assets/backgrounds/research-bg.png");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#researchPage .menuContainer {
    background-color: rgba(159, 215, 255, 0.151);
}

#researchContent {
    height: 91%;
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

#researchFirstHalf {
    height: 100vh;
    width: 28vw;
    position: relative;
}

#researchSecondHalf {
    height: 100%;
    width: 72%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: column;
    flex-direction: column;
}

#researchArticles1,
#researchArticles2 {
    height: 50%;
    width: 100%;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-align: center;
    align-items: center;
}

.articleBox {
    position: relative;
    height: 80%;
    width: 25%;
    background-color: rgb(255, 255, 255);
    outline: 2px solid rgb(255, 255, 255);
    outline-offset: 4px;
}

.articleHeader {
    position: relative;
    height: 20%;
    width: 100%;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

.articleTitle {
    position: relative;
    height: 100%;
    width: 75%;
    font-size: 2.5vh;
    padding-left: 3%;
    padding-top: 3%;
    color: rgba(0, 0, 0, 0.6);
}

.articlePhoto {
    position: relative;
    height: 6vh;
    width: 6vh;
    margin-top: 4%;
    border-radius: 50%;
    overflow: hidden;
}

.articlePhoto img {
    width: 100%;
    height: 100%;
}

.articleContent {
    height: 67%;
    width: 100%;
    font-size: 2vh;
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 3%;
    margin-bottom: 3%;
    word-break: break-all;
    word-wrap: break-word;
}

.articleMore {
    width: 28%;
    margin-right: 2%;
    margin-left: auto;
}

.articleMore .link {
    font-size: 1.5vh;
}

#teamPage {
    background-image: url("assets/backgrounds/team-v1.jpg");
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -190px;
    width: 100vw;
    height: 100vh;
}

#teamPage .menuContainer {
    background-color: rgba(159, 215, 255, 0.151);
}

#teamFirstHalf {
    position: relative;
    width: 100vw;
    height: 20vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
}

#teamTexts {
    width: auto;
    height: 20vh;
    padding-top: 1vh;
    padding-left: 8vw;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    text-align: left;
    float: left;
    background-clip: content-box;
    left: 0vw;
}

#teamTitle {
    height: 10vh;
    width: 10vw;
    position: relative;
    left: 7vw;
    opacity: 0.7;
    font-size: 6vh;
    margin-right: 1.5vw;
    margin-top: 1vh;
    text-align: right;
}

#teamSlash {
    position: relative;
    height: 17vh;
    width: 5vw;
    font-size: 18vh;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    opacity: 0.8;
    color: #671e33;
    top: -2vh;
    left: 6vw;
}

#teamImage {
    width: auto;
    height: 100%;
    position: relative;
    top: 1%;
    padding-left: auto;
    padding-right: auto;
}

#teamMainText {
    height: 50%;
    width: 100%;
    position: relative;
    left: 1%;
    font-size: 3.7vh;
    opacity: 0.7;
}

#teamSecondHalf {
    position: relative;
    display: flex;
    justify-content: space-evenly;
    height: 74vh;
    width: 100vw;
}

#prevMembers {
    margin-left: 12vw;
    font-size: 14vh;
    position: relative;
    top: 24vh;
    color: rgba(128, 128, 128, 0.774);
}

#prevMembers:hover {
    cursor: pointer;
}

#membersContainer {
    position: relative;
    height: 100%;
    width: 55vw;
}

.peopleBox {
    position: relative;
    width: 100%;
    height: 50%;
    text-align: left;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -ms-flex-align: left;
}

.teamBox {
    position: relative;
    height: 80%;
    width: 14vw;
    background-color: rgb(241, 241, 241);
    padding: 0.5%;
    outline: 1px solid rgb(182, 182, 182);
    outline-offset: 0.7vh;
}

.teamImage {
    position: relative;
    height: 39%;
    width: 43%;
    background-image: url("assets/martin-Garrix.jpg");
    background-size: cover;
    background-position: center;
    z-index: 2;
    border-radius: 100%;
    left: 30%;
}

.teamTextBox {
    position: relative;
    height: 100%;
    width: 100%;
}

.teamName {
    margin-top: 1%;
    margin-bottom: 1%;
    font-size: 3.1vh;
    font-weight: bold;
    text-align: center;
    opacity: 0.8;
    height: auto;
}

.teamRole {
    margin-top: 0;
}

.linkedinLogo {
    position: absolute;
    width: 2.2vw;
    opacity: 0.7;
    height: auto;
    top: 25vh;
    margin-left: 3.5vw;
}

.mailLogo {
    position: absolute;
    width: 2.6vw;
    opacity: 0.7;
    top: 24.5vh;
    height: auto;
    margin-left: 6vw;
}

#nextMembers {
    margin-right: 14vw;
    font-size: 14vh;
    position: relative;
    top: 24vh;
    color: rgba(128, 128, 128, 0.774);
}

#nextMembers:hover {
    cursor: pointer;
}

#sponsorsPage {
    position: relative;
    background-image: url('assets/backgrounds/sponsors-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

#sponsorsPage .menuContainer {
    background-color: rgba(0, 0, 0, 0);
}

#sponsorsTitle {
    position: relative;
    width: 100%;
    height: 10%;
    color: #094770;
    font-size: 8vh;
    font-weight: bold;
    padding-left: 13%;
    margin-top: 5%;
}

#sponsorsLogos {
    position: relative;
    top: 21vh;
    width: 100%;
    height: 50%;
}

#sponsorsLogos1,
#sponsorsLogos2 {
    width: 100vw;
    height: 26vh;
    display: -ms-flexbox;
    display: flex;
    display: -webkit-flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-pack: space-evenly;
    justify-content: space-evenly;
    -ms-flex-align: center;
    align-items: center;
}

.sponsorsLogo {
    width: 100%;
    height: 100%;
}

#eximprodLogo {
    height: 30vh;
    width: 19vw;
}

#keysightLogo {
    height: 17vh;
    width: 30vw;
}

#elplastLogo {
    height: 19vh;
    width: 40vw;
}

#nxpLogo {
    height: 15vh;
    width: 25vw;
}

#microchipLogo {
    height: 21vh;
    width: 20vw;
}

#contactPage {
    background-image: url('assets/backgrounds/contact-bg.png');
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 100vh;
}

#contactPage .menuContainer {
    background-color: rgba(0, 0, 0, 0);
}

#contactUs {
    font-size: 8vh;
    color: #63001a;
    padding-top: 4%;
    padding-left: 37vw;
}

#contactContent {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    padding-top: 5vh;
}

#contactPoints {
    padding-left: 37vw;
    padding-top: 1vh;
    font-size: 5vh;
    width: 40vw;
    background-clip: content-box;
}

.iconsGroup {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 40vw;
}

.iconsGroup a {
    width: 10%;
    height: 8%;
}

#locationLink {
    width: 9%;
    height: 6.5%;
    padding-top: 1%;
    padding-left: 0.5%;
}

.icons {
    width: 100%;
    height: auto;
}

.iconsText {
    position: relative;
    height: auto;
    width: 30vw;
    font-weight: 400;
    opacity: 0.8;
    font-size: 3vh;
    color: #671e33;
    padding-top: 1vh;
    left: 2vw;
}

#signature {
    padding-top: 15vh;
    padding-left: 5vw;
    color: #094770;
    font-size: 2.7vh;
    font-weight: 500;
    opacity: 0.8;
}

#Corina,
#Cristian {
    text-indent: 2vw;
}

#contactPage .menuImageContainer {
    width: 11vw;
    height: 7vh;
    left: 6vw;
    top: 30vh;
    position: relative;
    transform-origin: 50%;
    -moz-transform-origin: 50%;
    -webkit-transform-origin: 50%;
    transform: rotate(19deg);
    -moz-transform: rotate(19deg);
    -webkit-transform: rotate(19deg);
    float: left;
    background-clip: content-box;
}


/* Responsive!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! */

@media screen and (orientation: portrait) {
    body {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: start;
        justify-content: flex-start;
        overflow-y: unset;
    }
    #sponsorsLogos1 {
        flex-direction: column;
    }
    #sponsorsLogos2 {
        flex-direction: column;
    }
    .teamBox {
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 1280px) {
    #motto1 {
        padding-top: 22vh;
        height: 23vh;
        width: 60vh;
    }
    .title1 {
        font-size: 3vh;
    }
    .title2 {
        padding-top: 7vh;
        font-size: 3vh;
    }
    .aboutTitleText {
        padding-left: 6vw;
    }
    #aboutLeft {
        width: 42vw;
        padding-left: 6vw;
    }
    #aboutRight {
        width: 42vw;
        padding-left: 5vw;
    }
    .projectBox {
        width: 23vw;
    }
    #projectsTitle {
        width: 12vw;
    }
    #projectsDesc {
        top: 0;
        width: 45vw;
    }
    #projectsMainText {
        width: 60vw;
        font-size: 2.7vh;
    }
}

@media screen and (min-height: 800px) {
    .title1 {
        font-size: 4vh;
    }
    .title2 {
        font-size: 4vh;
    }
    .aboutTitleText {
        padding-left: 7vw;
    }
    #aboutLeft {
        width: 40vw;
        padding-left: 7vw;
    }
    #aboutRight {
        width: 40vw;
        padding-left: 6vw;
    }
}

@media screen and (max-width: 1024px) and (min-height: 1024px) {
    #aboutPage,
    #aboutGalleryBackground {
        height: 190vh;
    }
    #aboutGallery {
        margin-top: 80vh;
    }
    #aboutLeft,
    #aboutRight {
        width: 90vw;
        height: 65vh;
        float: none;
        background-clip: unset;
    }
    #aboutDomains {
        height: 32vh;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
    }
    .aboutGalleryPhoto {
        width: 90vw;
    }
    #aboutGalleryLeftArrow,
    #aboutGalleryRightArrow {
        padding-left: 0vw;
        width: 50vw;
    }
    #eventsPage {
        background-position: right;
    }
    #eventsContainer {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100vw;
        height: 150vh;
        margin-bottom: 10vh;
        justify-content: space-around;
    }
    #eventsContainer .visibleCard,
    .teamBox {
        width: 80vw;
        height: 40vh;
        margin-top: 10vw;
    }
    .eventContainer {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .eventContent {
        font-size: 2.5vh;
    }
    #prevEvents,
    #nextEvents,
    #prevProjects,
    #nextProjects,
    #prevMembers,
    #nextMembers {
        display: none;
    }
    #events {
        top: 0vh;
        height: 100vh;
        padding-top: 0vh;
        -ms-flex-direction: column;
        flex-direction: column;
    }
    #events .makeInvisible {
        display: none;
    }
    #projects {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100vw;
        margin-bottom: 10vh;
        justify-content: space-around;
    }
    .menuPlaceholder {
        display: block;
    }
    .menuContResp {
        display: -ms-flexbox;
        display: flex;
    }
    .menuContainer {
        display: none;
    }
    .teamLogo {
        display: none;
    }
    #homePage .menuImage {
        display: inline;
    }
    .menuImageContainer {
        margin-right: 1%;
        margin-left: auto;
    }
    #projectsImage {
        opacity: 0.3;
        position: absolute;
        right: 10vw;
        top: 20vw;
        left: auto;
    }
    #projects {
        margin-bottom: 5vh;
    }
    .projectBox {
        width: 80vw;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
    }
    #projectsTexts,
    #membersContainer {
        width: 100vw;
    }
    #projectsTitle {
        width: 28vw;
    }
    #projectsSlash {
        width: 6vw;
    }
    #projectsDesc {
        width: 60vw;
        font-size: 3.5vw;
    }
    #projectsMainText {
        width: 90vw;
        opacity: 0.9;
    }
    .peopleBox {
        position: relative;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        width: 100vw;
        height: 50%;
        margin-bottom: 10vh;
        justify-content: space-around;
    }
    #ContactUs {
        text-align: center;
        padding-left: unset;
    }
    #contactContent {
        justify-content: space-between;
    }
    #contactContent,
    #contactPoints {
        height: 70vh;
        width: 100vw;
        padding-top: 3vh;
    }
    .iconsGroup {
        width: 100%;
        height: 13vh;
    }
    .iconsText {
        width: 80vw;
        height: 10vh;
        left: 12vw;
        top: 2vh;
        font-weight: 600;
    }
    .icons {
        width: 16vw;
        height: auto;
    }
}

@media screen and (max-width: 800px) {
    #aboutDomains {
        padding-top: 5vh;
    }
    #eventsContainer {
        width: 100vw;
        height: 60vh;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
    .teamName {
        font-size: 2.5vh;
    }
    .teamRole {
        font-size: 2vh;
    }
    .teamBox {
        width: 70vw;
    }
    #prevEvents,
    #nextEvents {
        top: 25vh;
    }
    .eventContent {
        font-size: 2vh;
    }
    #events {
        top: 0;
    }
    #keysightLogo {
        width: 80vw;
    }
    #eximprodLogo {
        width: 50vw;
    }
    #elplastLogo {
        width: 80vw;
    }
}

@media screen and (max-width: 799px) {
    .teamName {
        font-size: 3vh;
    }
    #sponsorsPage {
        height: 153vh;
    }
    #sponsorsLogos {
        top: 8vh;
    }
    #sponsorsLogos1 {
        height: 82vh;
    }
    #sponsorsLogos2 {
        height: 26vh;
    }
    #infineonLogo {
        width: 50vw;
    }
    #ixiaLogo {
        width: 45vw;
    }
    #thalesLogo {
        height: 20vh;
        width: 80vw;
    }
    #fitbitLogo {
        width: 80vw;
        margin-bottom: 2vh;
    }
    #nxpLogo {
        width: 40vw;
    }
    #microchipLogo {
        width: 45vw;
    }
}

@media screen and (max-width: 768px) and (max-height:1024px) {
    #aboutDomains {
        height: 32vh;
    }
    .aboutGalleryPhoto {
        width: 90vw;
    }
    #aboutGalleryLeftArrow,
    #aboutGalleryRightArrow {
        padding-left: 0vw;
        width: 50vw;
    }
}

@media screen and (max-height: 600px) {
    .title2 {
        padding-top: 5vh;
    }
    #keysightLogo {
        width: 90vw;
    }
    #eximprodLogo {
        width: 70vw;
    }
    #elplastLogo {
        width: 90vw;
    }
}

@media screen and (max-width: 770px) {
    #upbLogos {
        height: 45%;
    }
    #bottomContainer {
        height: 27vh;
    }
}

@media screen and (max-width: 768px) {
    .body {
        flex-direction: column;
        overflow: visible;
    }
    .menuPlaceholder {
        display: block;
    }
    .menuContResp {
        display: -ms-flexbox;
        display: flex;
    }
    .menuContainer {
        display: none;
    }
    .teamLogo {
        display: none;
    }
    #homePage .menuImage {
        display: inline;
    }
    .menuImageContainer {
        margin-right: 1%;
        margin-left: auto;
    }
    #events {
        top: 5vh;
        padding-top: 0;
    }
    #eventsContainer,
    #membersContainer {
        width: 90vw;
        bottom: 5vh;
    }
    .eventContainer {
        width: 90vw;
        margin-left: auto;
        margin-right: auto;
    }
    .eventTitle {
        font-size: 4.5vw;
    }
    .eventContent {
        font-size: 2.5vh;
    }
    #eventsTitle {
        margin-left: 20vw;
        margin-right: auto;
        width: auto;
    }
    #projectsImage {
        opacity: 0.3;
        position: absolute;
        right: 10vw;
        top: 20vw;
        left: auto;
    }
    #projects {
        margin-bottom: 5vh;
        top: 15vh;
    }
    .projectBox {
        width: 80vw;
        margin-top: 10vh;
        margin-left: auto;
        margin-right: auto;
    }
    #projectsTexts {
        width: 100vw;
    }
    #projectsTitle {
        width: 28vw;
    }
    #projectsSlash {
        width: 6vw;
    }
    #projectsDesc {
        width: 60vw;
        font-size: 3.5vw;
    }
    #projectsMainText {
        width: 90vw;
        opacity: 0.9;
    }
    #prevEvents,
    #nextEvents,
    #prevProjects,
    #nextProjects,
    #prevMembers,
    #nextMembers {
        display: none;
    }
    #projects .fbLogo {
        position: relative;
        width: 10vw;
        top: 0vh;
        margin-left: 30vw;
    }
    .linkLogo {
        position: relative;
        width: 10.5vw;
        opacity: 0.7;
        top: 0vh;
        margin-left: 3vw;
    }
    .imageBox {
        height: 40%;
        width: 35%;
    }
    #researchContent {
        flex-direction: column;
    }
    #researchArticles1 {
        display: none;
    }
    #researchFirstHalf {
        width: 100vw;
        height: 40vh;
    }
    #researchSecondHalf {
        width: 100vw;
    }
    #researchArticles2 {
        width: 100vw;
        margin-top: auto;
        margin-bottom: auto;
    }
    .articleBox {
        width: 60vw;
        height: 60vw;
    }
    .peopleBox {
        height: 183vh;
        width: 58vw;
        margin-left: 19vw;
    }
    .teamBox {
        height: 60vh;
        width: 48vw;
        padding-left: 5vw;
    }
    #teamFirstHalf {
        height: 25vh;
    }
    #teamTexts {
        padding-left: 1vw;
        padding-top: 3vh;
        margin-left: 17vw;
    }
    .teamName {
        font-size: 3.5vh;
    }
    .teamRole {
        font-size: 3vh;
    }
    #teamTitle,
    #teamSlash {
        width: auto;
    }
    .linkedinLogo {
        width: 9vw;
        top: 33.5vh;
        margin-left: 10vw;
    }
    .mailLogo {
        width: 10.5vw;
        top: 33vh;
        margin-left: 22vw;
    }
    #membersContainer {
        padding-top: 10vh;
    }
    #ContactUs {
        text-align: center;
        padding-left: unset;
    }
    #contactContent {
        justify-content: space-between;
    }
    #contactContent,
    #contactPoints {
        height: 70vh;
        width: 100vw;
        padding-top: 3vh;
        padding-left: 0%;
        left: auto;
        right: auto;
    }
    .iconsGroup {
        width: 100%;
        height: 13vh;
    }
    .iconsText {
        width: 80vw;
        height: 10vh;
        left: 12vw;
        top: 2vh;
        font-weight: 600;
    }
    .icons {
        width: 16vw;
        height: auto;
    }
    #signature {
        padding-top: 5vh;
        padding-left: 20vw;
        ;
    }
}

@media screen and (max-width: 600px) {
    #aboutPage,
    #aboutGalleryBackground {
        height: auto;
    }
    #aboutLeft,
    #aboutRight {
        width: 90vw;
        height: auto;
        float: none;
        background-clip: unset;
    }
    body {
        overflow-y: unset;
    }
    #aboutDomains {
        height: 40vh;
        -ms-flex-direction: row;
        flex-direction: row;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -ms-flex-pack: center;
        justify-content: center;
    }
    #eventsContainer {
        width: 100vw;
        height: 100vh;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
    }
    #events .makeInvisible {
        display: none;
    }
    #projects {
        width: 100vw;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: center;
        align-items: center;
        justify-content: space-around;
    }
    .peopleBox {
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        justify-content: space-around;
    }
    #sponsorsPage {
        height: 162vh;
        margin-bottom: 2vh;
    }
    #sponsorsLogos2 {
        height: 42vh;
    }
    #infineonLogo {
        width: 90vw;
        margin-bottom: 2vh;
    }
    #ixiaLogo {
        width: 80vw;
        margin-bottom: 2vh;
    }
    #thalesLogo {
        width: 95vw;
        margin-bottom: 2vh;
    }
    #fitbitLogo {
        width: 95vw;
        margin-bottom: 2vh;
    }
    #nxpLogo {
        width: 70vw;
        margin-bottom: 2vh;
    }
    #microchipLogo {
        width: 80vw;
    }
    @media screen and (max-height:350px) {
        #aboutDomains {
            flex-wrap: unset;
        }
        .aboutDomain {
            height: 18vh;
        }
    }
}


/* Pixels phones */

@media screen and (max-width: 420px) {
    #mottoContainer {
        font-size: 11vh;
    }
    #motto1 {
        height: 20vh;
    }
    #see {
        width: 38vh;
    }
    #upbLogos {
        height: 28%;
    }
    #bottomContainer {
        height: 30vh;
    }
    #aboutPage,
    #aboutGalleryBackground {
        height: 190vh;
    }
    #aboutGallery {
        margin-top: 80vh;
    }
    #aboutDomains {
        height: 30vh;
        width: 45vh;
        margin-left: 0;
    }
    @media screen and (min-height:800px) {
        #aboutPage,
        #aboutGalleryBackground {
            height: 220vh;
        }
    }
}


/* iphoneX */

@media screen and (max-width: 375px) and (max-height: 812px) {
    #upbLogos {
        height: 27%;
    }
    #bottomContainer {
        height: 27vh;
    }
    #aboutPage,
    #aboutGalleryBackground {
        height: 222vh;
    }
    #aboutGallery {
        margin-top: 110vh;
    }
    #aboutDomains {
        height: 26vh;
        width: auto;
    }
}


/* iphone 6/7/8 */

@media screen and (max-width: 375px) and (max-height: 700px) {
    #upbLogos {
        height: 34%;
    }
    #bottomContainer {
        height: 27vh;
    }
    #aboutPage,
    #aboutGalleryBackground {
        height: 200vh;
    }
    #aboutGallery {
        margin-top: 90vh;
    }
    #aboutDomains {
        height: 30vh;
        width: auto;
    }
}


/* GalaxyS5 */

@media screen and (max-width: 360px) {
    #upbLogos {
        height: 35%;
    }
    #aboutPage,
    #aboutGalleryBackground {
        height: 190vh;
    }
    #aboutGallery {
        margin-top: 80vh;
    }
    #aboutDomains {
        height: 30vh;
        width: auto;
    }
}

@media screen and (max-width: 350px) and (max-height: 700px) {
    #upbLogos {
        height: 32%;
    }
    #bottomContainer {
        height: 27vh;
    }
}